.singleproduct {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    min-height: 90vh;
}   

.singleproduct-image {
    flex: 1;
    text-align: center;
    margin-top: 2rem;
}

.singleproduct-image>img {
    max-height: 20rem;
}

.singleproduct-details {
    flex: 1;
    padding: 0 2rem;
    margin-top: 10rem;
}
.singleproduct-button{
    background-color:  rgb(235, 225, 230);
    border: 1px solid rgb(0, 0, 0);
    text-transform: uppercase;
}

.single-images {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
}

.single-images .item1, .item2, .item3, .item4{
    background-color: rgb(221, 217, 217);
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 768px) {
    .singleproduct {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }  
    .singleproduct-details {
        flex: 1;
        padding: 0 2rem;
        margin-top: 8rem;
    }
}