.products-section{
  margin: 5rem 0rem 8rem;
}
.category-list {
  font-size: 20px;
  text-align: center;
}

.category-list p {
  cursor: pointer;
  color: black;
}

.category-list p:hover {
  color: rgb(225, 188, 151);
}

.image-box{
  text-align: center;
}

.btn {
  background-color:  rgb(235, 225, 230);
  margin: 4px 10px;
  padding: 8px 20px;
}

.products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 10px;
  margin: 0rem 1rem;
}

@media screen and (max-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(23vw, 1fr));
    margin: 1rem;
  }
}

@media screen and (min-width: 1600px) {
  
.products {
  grid-template-columns: repeat(4, 20rem);
  justify-content: center;
  gap: 20px;
}
  
}

