.grid-products {
  display: grid;
  grid-template-columns: 20vw 78vw;
  grid-template-rows: auto;
  margin: 4rem 0rem;
}

.category-list {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.category-list p {
  cursor: pointer;
  color: black;
}

.category-list p:hover {
  color: rgb(225, 188, 151);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16vw, 1fr));
  gap: 10px;
}
  

.image-box{
  text-align: center;
}

.btn {
  border-radius: 0%;
  background-color:  rgb(235, 225, 230);
  border: 1px solid rgb(0, 0, 0);
}

@media screen and (max-width: 1200px) {
  .grid-products {
    grid-template-columns: none;
    list-style: none;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}


