/*
.grid-products {
  display: grid;
  grid-template-columns: 20vw 78vw;
  grid-template-rows: auto;
  margin: 4rem 0rem;
}
*/
.category-list {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.category-list p {
  cursor: pointer;
  color: black;
}

.category-list p:hover {
  color: rgb(225, 188, 151);
}

.image-box{
  text-align: center;
}

.btn {
  border-radius: 0%;
  background-color:  rgb(235, 225, 230);
  border: 1px solid rgb(0, 0, 0);
}

.products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 10px;
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(23vw, 1fr));
    margin: 1rem;
  }
}

@media screen and (min-width: 1600px) {
  
.products {
  grid-template-columns: repeat(4, 20rem);
  justify-content: center;
  gap: 20px;
}
  
}

